@import "../../components/home-menu/styles.scss";

.home-view {
  padding: 2em 2em 2em 7em;
  height: 100vh;
  width: 98vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .ant-card {
    margin-top: 24px;
    background: linear-gradient(
      90deg,
      rgba(252, 227, 252, 1) 0%,
      rgba(251, 193, 255, 1) 19%,
      rgba(255, 239, 254, 1) 100%
    );
    box-shadow: 4px 6px 5px 0px rgba(224, 206, 224, 1);
    width: 70%;
    .ant-card-body {
      height: 200px;
      position: relative;
      padding: 2em;
      text-align: left;
      
      img {
        height: 150px;
        width: 150px;
        position: absolute;
        right: 25px;
        top: 25px;
      }
      
      h1 {
        font-family: "Open Sans";
        font-size: 36px;
        text-align: left;
      }
    }
  }
}
