@import '../../components/picture-box/styles.scss';

.your-painting-view {
  padding: 45px 40px 45px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85vw;
  .ant-space {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .ant-row {
      .painting-firs-col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .ant-radio-group {
          margin-top: 24px;
          margin-bottom: 36px;
        }
        .size-radiogroup {
          position: absolute;
          top: 10%;
          right: -15%;
        }
      }
  }
}
