.picture-box {
  margin-top: 24px;
  position: relative;

  .rope {
    position: absolute;
    left: 40px;
    border-top: solid 2px #CCB28D;
  }

  &__outer-box {
    border: solid 1px;
  }
  &__inner-box {
    border: solid 1px;
  }
}